CREATE DATABASE [BikeStores's]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BikeStores''s', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BikeStores''s.mdf' , SIZE = 102400KB , MAXSIZE = 512000KB , FILEGROWTH = 51200KB )
 LOG ON 
( NAME = N'BikeStores''s_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BikeStores''s_log.ldf' , SIZE = 20480KB , MAXSIZE = 512000KB , FILEGROWTH = 51200KB )
GO
USE [BikeStores's]
GO
USE [BikeStores's]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [BikeStores's] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
